@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column ;
  background: linear-gradient(293.96deg, #5D63C2 29.45%, #2C2F5C 100%);;
  background-repeat: no-repeat;
    overflow-x: hidden;
     width: 100%;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
    background: linear-gradient(293.96deg, #2C2F5C 100%, #5D63C2 29.45% );;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

header a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}


header nav {
  display: flex;
  gap: 20px;
}


.container {
  display: flex;
  flex-direction: column;
}

.pag1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag1 img {
  width: 300px;
  height: 300px !important;
}

.pag1 > * {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}


.descricao {
  gap: 5px;
  font-family: 'Rajdhani', 'sans-serif';
  font-weight: 500;
  width: 40%;
}




.descricao h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: 'Rajdhani';
  color: #fff;
}

.descricao h1 {
  font-size: 44px;
  font-weight: 400;
  color:aqua;
}

.descricao p {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 250;
  font-family: 'Titillium Web';
}



.descricao a {
  display: flex;
  padding: 7px;
  background-color: #FFD447;
  color: #000;
  font-family: 'Titillium Web';
  font-weight: 500;
  text-decoration: none;
  width: 20%;
  justify-content: center;
  border-radius: 40px;
  margin-top: 15px;
}

.passe {
   display: flex;
   flex-direction: row;
   gap: 10px;
   padding: 15px;
   justify-content: center;
}

.linha {
  background-color: #D9D9D9;
  width: 4%;
  height: 1vh;
  
}



.digimons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  gap: 30px;
}


.pesquisa {
  display: flex;
  flex-direction: row;
}


.pesquisa input {
  padding: 10px;
  border: solid 1px #5D63C2;
  outline: none;

}

.pesquisa span {
  background: #5D63C2;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.faixas {
  display: flex;
  flex-direction: row;
  justify-content: center;
    gap: 10px;
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
}




.bloco {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF 57.69%, #533E8F 100%);
  padding: 10px;
  width: 15%;
  border-radius: 15px;
  gap: 18px;
  margin: 50px 0px;


}

.bloco h2 {
  font-family: 'Orbitron';
  color: #533E8F;
  font-size: 18px;

}

.bloco p {
  font-family: 'Rajdhani';
  font-weight: 700;
}

.bloco a {
    font-family: 'Titillium Web';
    text-decoration: none;
    color: #000;
    font-size: 14px;
}



.bloco img {
  width: 100%;
}


.modelo {
  position: absolute;
  visibility: hidden;
}



.botoes {
  display: flex;
  justify-content: center;


  flex-wrap: wrap;
  gap: 10px;
  
}

.botoes button {
  padding: 10px;
  background-color:#5D63C2;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: 'Titillium Web';
  
}

.botoes button:hover {
  cursor: pointer;
}


footer {
  background-color: #F5F3EC;
  font-family: 'Orbitron';
  font-size: 25px;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




  /*| Dispositivo     | Largura típica | Exemplo `@media`                        |
| --------------- | -------------- | --------------------------------------- |
| Celular pequeno | ≤ 480px        | `@media (max-width: 480px)`             |
| Celular médio   | ≤ 600px        | `@media (max-width: 600px)`             |
| Tablet          | ≤ 768px        | `@media (max-width: 768px)`             |
| Laptop          | ≤ 1024px       | `@media (max-width: 1024px)`            |
| Monitor maior   | ≥ 1200px       | `@media (min-width: 1200px)` (opcional) |
*/


@media (min-width: 1200px) {
  .botoes button {
    width: 12vh;
  }
}



@media (max-width: 1200px) {
  .botoes button {
    width: 12vh;
  }

    .descricao a {
      width: 30%;
  }
}



@media (max-width: 1024px) {

  .descricao a {
      width: 30%;
  }
  .bloco h2 {
    font-size: 14px;
  }
  .bloco p {
    font-size: 12px;
}

.bloco a {
  font-size: 12px;
}
}


@media (max-width: 853px) {
  .descricao {

  width: 50%;
}

.descricao a{
  font-size: 12px;
}
  .bloco h2 {
    font-size: 20px;
  }
  .bloco p {
    font-size: 17px;
}

.bloco a {
  font-size: 17px;
}

.linha {
  height: 0.5vh;
  
}



.pag1 img {
  width: 250px;
  height: 250px !important;
}

.descricao h2 {
  font-size: 24px;
}

.descricao h1 {
  font-size: 40px;
}

.descricao p {  
  font-size: 18px;
}



  .digimons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: #ffffff;
    padding: 5px;
  }


  .faixas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
  }


  .bloco {
    width: 30%;
    min-width: 240px; 
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    gap: 10px;
    width: 15%;
    min-width: 240px;
    display: flex;
  }
}



@media (max-width: 600px) {
  .descricao {

  width: 50%;
}

.descricao a{
  font-size: 10px;
}
  .bloco h2 {
    font-size: 17px;
  }
  .bloco p {
    font-size: 15px;
}

.bloco a {
  font-size: 15px;
}

.linha {
  height: 0.5vh;
  
}



.pag1 img {
  width: 250px;
  height: 250px !important;
}

.descricao h2 {
  font-size: 24px;
}

.descricao h1 {
  font-size: 40px;
}

.descricao p {  
  font-size: 18px;
}


  .digimons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: #ffffff;
    padding: 5px;
  }


  .faixas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
  }


  .bloco {
    width: 30%;
    min-width: 240px; 
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    gap: 10px;
    width: 15%;
    min-width: 240px;
    display: flex;
  }




  footer {  
  font-size: 10px;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
}

@media (max-width: 430px) {
  .descricao {

  width: 40%;
}

  header {
  padding: 5px 7px;
}


  header h1 {
    font-size: 12px;
  }


  header a {
    font-size: 8px;
  }


  header nav {
    gap: 5px;
  }


  .bloco h2 {
    font-size: 24px;
  }


  .bloco p {
    font-size: 20px;
  }


  .bloco a {
    font-size: 20px;
  }


  .linha {
    height: 0.3vh;
  }

  .pag1 img {
    width: 150px;
    height: 150px !important;
  }


  .descricao h2 {
    font-size: 16px;
  }


  .descricao h1 {
    font-size: 24px;
  }


  .descricao p {  
    font-size: 12px;
    line-height: 15px;
  }


  .descricao a {
    padding: 2px;
    width: 90%;
    border-radius: 10px;
    font-size: 12px;
  }


  .digimons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: #ffffff;
    padding: 5px;
  }


  .faixas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
  }


  .bloco {
    width: 30%;
    min-width: 240px; 
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    gap: 10px;
    width: 15%;
    min-width: 240px;
    display: flex;
  }




  footer {  
  font-size: 10px;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

}
